@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.container {
    width: 1098px;
    margin: 0 auto;
    position: relative;
}

/*vid_modal  */
.vid_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 110;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.vid_modal i {
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -300px;
    transition: all 0.3s;
}

.vid_modal i:hover {
    color: rgb(49, 49, 49);
}

.vid_modal .inner_vid {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -225px;
}

/* all_menu */
.all_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    background-size: cover;
    padding-top: 100px;
    box-sizing: border-box;
    display: none;
}

.all_menu ul.depth1 {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    letter-spacing: -1px;
    display: flex;
}

.all_menu ul.depth1>li {
    width: 17%;
}

.all_menu ul.depth1>li>a {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #545152;
    line-height: 5;
    border-bottom: 1px solid rgba(81, 81, 81, 0.1);
}

.all_menu ul.depth1>li>ul.depth2 {
    padding-top: 40px;
    width: 100%;
}

.all_menu ul.depth1>li>ul.depth2>li {
    line-height: 2.5;
    font-weight: bold;
    color: #545152;
    width: 100%;
    position: relative;
}

.all_menu ul.depth1>li>ul.depth2>li>a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
}

.all_menu ul.depth1>li>ul.depth2>li>a::before {
    content: "";
    width: 3px;
    height: 2px;
    background: red;
    position: absolute;
    left: 0;
    top: 19px;
    display: none;
}

.all_menu ul.depth1>li>ul.depth2>li:hover>a::before {
    display: block;
}

/* header */
header {
    width: 100%;
    height: 100px;
    font-size: 16px;
    color: #444343;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    background: #fff;
}

header h1 {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    text-indent: -9999px;
}

header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/favicon_120.png) ;
    background-size: 120px;
}

header nav {}

header nav ul {
    display: flex;
}

header nav ul li {
    line-height: 100px;
    margin-right: 20px;
    width: 10%;
}

header nav ul li:nth-child(5) {
    margin-left: 130px;
    margin-right: 0;
}

header ul.l_box {
    position: absolute;
    right: 50px;
    top: 37px;
}

header ul.l_box li {
    width: 70px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    background: #fff;
    line-height: 26px;
    padding-left: 10px;
    position: relative;
}

header ul.l_box li.bt0 {
    border-top: 0;
    display: none;
}

header ul.l_box li i {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 8px;
    color: #ccc;
}

header ul.ham {
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 37px;
}

header ul.ham li {
    width: 50%;
    height: 1px;
    background: #000;
    margin-bottom: 12px;
    margin-left: 50%;
}

header ul.ham li:nth-child(2) {
    margin-left: 0;
    width: 100%;
}

header ul.ham2 {
    width: 26px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 50px;
    cursor: pointer;
    display: none;
}

header ul.ham2 li {
    width: 120%;
    height: 1px;
    background: #000;
    margin-bottom: 12px;
    margin-left: 50%;
    position: absolute;
    left: -15px;
    top: 0;
}

header ul.ham2 li:nth-child(1) {
    transform: rotate(45deg);
}

header ul.ham2 li:nth-child(2) {
    transform: rotate(-45deg);
}

header ul.ham2 li:nth-child(3) {
    display: none;
}

/* contents */
.contents {
    width: 100%;
    padding-top: 100px;
}

.contents .tit {
    display: flex;
}

.contents .tit h2 {
    font-size: 30px;
    font-weight: 800;
}

.contents .tit span {
    font-size: 14px;
    display: block;
    margin-left: 35px;
    padding-top: 16px;
    color: #c3c0c0;
}

/* main_banner */
.contents .main_banner {
    width: 100%;
    height: 778px;
    position: relative;
    overflow: hidden;
}

.contents .main_banner ul.main_slider {
    width: 100%;
    height: 778px;
    position: absolute;
    left: 0;
    top: 0;
}

.contents .main_banner ul.main_slider li {
    width: 100%;
    height: 778px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center bottom;
    background-size: cover;
}

.contents .main_banner ul.main_slider li.ms1 {
    background-image: url(../images/slide_01.png);
}

.contents .main_banner ul.main_slider li.ms2 {
    background-image: url(../images/slide_02.png);
}

.contents .main_banner ul.main_slider li.ms3 {
    background-image: url(../images/slide_03.png);
}

.contents .main_banner ul.main_slider li a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents .main_banner .pager {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    display: flex;
}

.contents .main_banner .pager a {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #111;
    border-radius: 0%;
    margin: 15px;
    box-sizing: border-box;
}

.contents .main_banner .pager a.active {
    background: #111;
}

.contents .main_banner .prev_next {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.contents .main_banner .prev_next>a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 54px;
    box-sizing: border-box;
    border: 2px solid rgba(1, 1, 1, 0.7);
    color: #111;
    border-radius: 0%;
    font-size: 25px;
    margin: 5px;
    float: left;
}

.contents .main_banner .prev_next>a:hover {
    background: #111;
    color: #fdd;
}

/* event */
.contents .event {
    width: 100%;
    height: 540px;
    background: #f8f8f8;
    position: relative;
    overflow: hidden;
}

.contents .event section {
    width: 528px;
    height: 400px;
    top: 170px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
}

.contents .event section.on {
    top: 70px;
    opacity: 1;
}

.contents .event h2 {
    background-image: url(../images/event_bg_txt.png);
    text-indent: -9999px;
    width: 13px;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -694px;
    top: 70px;
}

.contents .event .history {
    left: 0;
}

.contents .event .history a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/brand_bg.png);
    transition: all 0.5s;
    text-indent: -9999px;
    background-size: cover;
}

.contents .event .history a:hover {
    transform: scale(1.1);
}

.contents .event .brand {
    right: 0;
}

.contents .event .brand a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/history_bg.png);
    transition: all 0.5s;
    text-indent: -9999px;
    background-size: cover;
}

.contents .event .brand a:hover {
    transform: scale(1.1);
}

/* line_up */
.contents .line_up {
    width: 100%;
    height: 1510px;
    position: relative;
}

.contents .line_up .txt_bg {
    position: absolute;
    top: 90px;
    right: 50%;
    margin-right: -694px;
    background-image: url(../images/lineup_bg_txt.png);
    width: 12px;
    height: 371px;
}

.contents .line_up .container {
    width: 1198px;
    height: 1510px;
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
}

.contents .line_up .container .tit {
    padding-top: 68px;
}

.contents .line_up .container .lu_txt {
    margin-top: 160px;
}

.contents .line_up .container .lu_txt p {
    font-size: 14px;
    color: #a6a5a5;
    line-height: 1.8;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.contents .line_up .container .lu_txt b {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 4px solid #333;
    padding-bottom: 7px;
    letter-spacing: -1px;
    padding-top: 66px;
    display: inline-block;
}

.contents .line_up .container ul.img_box {}

.contents .line_up .container ul.img_box li {
    position: absolute;
    opacity: 0;
    margin-left: -400px;
    transition: all 0.6s;
    overflow: hidden;
}

.contents .line_up .container ul.img_box li.on {
    opacity: 1;
    margin-left: 0;
}

.contents .line_up .container ul.img_box li:nth-child(1) {
    left: 400px;
    top: 264px;
    width: 400px;
    height: 221px;
}

.contents .line_up .container ul.img_box li:nth-child(2) {
    left: 0;
    top: 600px;
    width: 298px;
    height: 349px;
}

.contents .line_up .container ul.img_box li:nth-child(3) {
    left: 650px;
    top: 813px;
    width: 285px;
    height: 349px;
}

.contents .line_up .container ul.img_box li:nth-child(4) {
    left: 0;
    top: 1100px;
    width: 399px;
    height: 270px;
}

.contents .line_up .container ul.img_box li a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents .line_up .container ul.img_box li a img {
    transition: all 0.6s;
}

.contents .line_up .container ul.img_box li a:hover img {
    transform: scale(1.1);
}

.contents .line_up .container ul.txt_box {}

.contents .line_up .container ul.txt_box li {
    position: absolute;
    margin-top: 100px;
    opacity: 0;
}

.contents .line_up .container ul.txt_box li.on {
    opacity: 1;
    margin-top: 0;
    transition: all 0.6s;
}

.contents .line_up .container ul.txt_box li:nth-child(1) {
    left: 882px;
    top: 400px;
}

.contents .line_up .container ul.txt_box li:nth-child(2) {
    left: 374px;
    top: 750px;
}

.contents .line_up .container ul.txt_box li:nth-child(3) {
    left: 974px;
    top: 1060px;
}

.contents .line_up .container ul.txt_box li:nth-child(4) {
    left: 474px;
    top: 1210px;
}

.contents .line_up .container ul.txt_box li a {}

.contents .line_up .container ul.txt_box li a em {
    font-size: 15px;
    color: #c3c0c0;
    display: block;
}

.contents .line_up .container ul.txt_box li a h3 {
    font-size: 24px;
    color: #2c2c2c;
    padding-top: 28px;
    border-bottom: 1px solid #2c2c2c;
    display: inline-block;
    padding-bottom: 10px;
}

/* video */
.contents .video {
    width: 100%;
    height: 600px;
    background-image: url(../images/video_bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
}

.contents .video h2 {
    position: absolute;
    background-image: url(../images/video_bg_txt.png);
    width: 12px;
    height: 63px;
    top: 70px;
    left: 50%;
    margin-left: -694px;
    text-indent: -9999px;
}

.contents .video button {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    padding-left: 12px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.contents .video button i {
    font-size: 40px;
    color: #fff;
}

.contents .video b {
    display: block;
    font-size: 30px;
    letter-spacing: 15px;
    color: #fff;
    padding-top: 80px;
}

.contents .video h3 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 60px;
    text-shadow: #000 5px ;
}

.contents .video p {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
    letter-spacing: -1px;
}

/* products */
.contents .products {
    width: 100%;
    height: 1206px;
    background-color: #f8f8f8;
    position: relative;
}

.contents .products .txt_bg {
    position: absolute;
    top: 350px;
    right: 50%;
    margin-right: -694px;
    background-image: url(../images/product_bg_txt.png);
    width: 12px;
    height: 353px;
}

.contents .products .tit {
    padding-top: 170px;
    padding-bottom: 110px;
}

.contents .products ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contents .products ul li {
    width: 200px;
    height: 350px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-right: 99px;
    opacity: 0;
}

.contents .products ul li.on {
    animation: prAni 0.6s;
    animation-fill-mode: forwards;
}

@keyframes prAni {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.contents .products ul li:nth-child(4n) {
    margin-right: 0;
}

.contents .products ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents .products ul li a span.box {
    display: block;
    width: 100%;
    height: 234px;
    box-sizing: border-box;
    border: 2px solid transparent;
    overflow: hidden;
    transition: all 0.5s;
}

.contents .products ul li:hover a span.box {
    border: 2px solid rgba(184, 184, 184, 0.795);
}

.contents .products ul li a span.box img {
    transform: scale(1);
    transition: all .5s;
}

.contents .products ul li:hover a span.box img {
    transform: scale(1.1);
}

.contents .products ul li a h3 {
    padding-top: 40px;
    color: #090909;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
}

.contents .products ul li a h3 span {
    font-size: 15px;
    color: #dad7d6;
    display: inline-block;
    margin-left: 10px;
}

.contents .products ul li a p {
    font-size: 14px;
    color: #a6a5a5;
    letter-spacing: -2px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.5;
}

/* news */
.contents .news {
    width: 100%;
    height: 370px;
    position: relative;
    overflow: hidden;
}

.contents .news .txt_bg {
    position: absolute;
    top: 155px;
    left: 50%;
    margin-left: -694px;
    background-image: url(../images/news_bg_txt.png);
    width: 12px;
    height: 318px;
}

.contents .news h2 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 15px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.contents .news .news_con {
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    border-top: 1px solid #1e191d;
    border-bottom: 1px solid #e5e5e5;
    line-height: 83px;
}

.contents .news .news_con a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
}

.contents .news .news_con a:hover {
    background-color: #f8f8f8;
    color: rgba(0, 0, 0, 1);
}

.contents .news .news_con .con {
    padding-left: 130px;
}

.contents .news .news_con .day {
    margin-left: 400px;
}

.contents .news .news_con .num {
    margin-left: 60px;
}

/* footer */
footer {
    width: 100%;
    height: 372px;
    background: #1e191d;
    color: #fff;
    box-sizing: border-box;
    padding-top: 80px;
    overflow: hidden;
}

footer .container {
    display: flex;
}

footer .contect_us {
    font-size: 17px;
}

footer .contect_us span {
    font-weight: bold;
}

footer .contect_us p {
    font-size: 38px;
    margin: 30px 0;
}

footer .contect_us p b {
    color: #6c6c6c;
}

footer .contect_us p i {
    color: #aaa8ab;
}

footer .contect_us button {
    font-size: 14px;
    display: block;
    width: 120px;
    height: 44px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 40px;
}

footer .con {
    margin-left: 120px;
}

footer .con p {
    font-weight: bold;
    font-size: 16px;
}

footer .con ul {
    font-size: 14px;
    width: 350px;
    overflow: hidden;
    margin-top: 26px;
    margin-bottom: 68px;
}

footer .con ul li {
    float: left;
    letter-spacing: -1px;
    line-height: 1.8;
    font-weight: bold;
}

footer .con ul li.ml {
    margin-left: 5px;
}

footer .con ul li:nth-child(even) {
    color: #aaa8ab;
}

footer .con ul li.clear {
    clear: both;
}

footer .con em {
    font-size: 13px;
    color: #616061;
    font-weight: bold;
}

footer .family {
    width: 200px;
    height: 46px;
    position: relative;
    margin-left: auto;
}

footer .family p {
    width: 200px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid #615f5f;
    font-size: 14px;
    color: #fff;
    padding-left: 20px;
    line-height: 44px;
    font-weight: bold;
}

footer .family p i {
    display: inline-block;
    margin-left: 60px;
    font-size: 18px;
    color: #615f5f;
}

footer .family p.none {
    position: absolute;
    left: 0;
    bottom: 46px;
    background-color: #fdfdfd;
    color: #666;
    display: none;
}

footer .family p.none a {
    display: block;
    width: 100%;
    height: 100%;
}

/* aside */
aside.top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    bottom: 352px;
    right: 50%;
    margin-right: -549px;
}

aside.top a {
    display: block;
    width: 100%;
    height: 100%;
}